name: Update issue, pr and contrib metadata file for current year

on:
  workflow_dispatch:
  pull_request:
  schedule:
    # Runs on the 1 and 15 of each month at 00:00 UTC (see https://crontab.guru)
    - cron: "0 5 2,16 * 1"
    # Runs at 11pm on December 31st every year
    - cron: "0 23 31 12 *"

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  run-meta:
    if: github.repository_owner == 'pyopensci'
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: "3.10"
      - name: Upgrade pip
        run: |
          # install pip=>20.1 to use "pip cache dir"
          python -m pip install --upgrade pip wheel
      - name: Install webp
        run: |
          sudo apt-get update
          sudo apt-get install -y webp
      - name: Install pyosmeta
        run: pip install -r requirements.txt
      - name: Run get-prs
        run: python scripts/get-prs.py
      - name: Run get-reviews
        run: python scripts/get-reviews.py
      - name: Run get-sprint-data
        if: github.event_name == 'workflow_dispatch' ||
          github.event_name == 'schedule' ||
          ( github.event_name == 'pull_request' &&
            github.event.pull_request.head.repo.full_name == github.repository )
        env:
          GITHUB_TOKEN: ${{ secrets.PROJECTS_READ }}
        run: python scripts/get-sprint-data.py
      #- name: Update editors
      #  run: python scripts/get-editors.py
      - name: get-review-contributors
        run: python scripts/get-review-contributors.py
      - name: get-package-data
        run: python scripts/get-package-data.py
      - name: Cache metrics
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: metrics
          path: _data

  create-pr:
    name: Create Pull Request
    runs-on: ubuntu-latest
    needs: run-meta
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Check out the code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Download metrics
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: metrics
          path: _data
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          add-paths: |
            _data/*.csv
          author: Leah <leah@pyopensci.org>
          base: main
          branch: contribs
          commit-message: "Update: issue, pr and contrib metadata file for current year"
          delete-branch: true
          title: Update contributor and review data
        env:
          # Custom token needed to trigger PR checks, as GITHUB_TOKEN won't
          # https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs
          GITHUB_TOKEN: ${{ secrets.PYOS_PR_TOKEN }}
